n8n/medical-workflow.json
{
  "name": "Medical Automation",
  "nodes": [
    {
      "parameters": {
        "path": "webhook",
        "options": {}
      },
      "id": "webhook-start",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/doctors",
        "options": {}
      },
      "id": "get-doctors",
      "name": "Get Doctors",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [460, 200]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/doctors/{{ $json.doctor_id }}/schedule",
        "options": {}
      },
      "id": "get-schedule",
      "name": "Get Schedule",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/appointments",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "patient_id",
              "value": "={{ $json.patient_id }}"
            },
            {
              "name": "doctor_id", 
              "value": "={{ $json.doctor_id }}"
            },
            {
              "name": "datetime",
              "value": "={{ $json.datetime }}"
            }
          ]
        },
        "options": {}
      },
      "id": "create-appointment",
      "name": "Create Appointment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [460, 400]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/payment-info",
        "options": {}
      },
      "id": "get-payment-info",
      "name": "Get Payment Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [460, 500]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.message }}",
              "operation": "contains",
              "value2": "horários"
            }
          ]
        }
      },
      "id": "check-intent",
      "name": "Check Intent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Intent": {
      "main": [
        [
          {
            "node": "Get Schedule",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Doctors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1"
}